{% load static %}
<html>
  <head>
    <title>Travel Form</title>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Bona+Nova:ital,wght@0,400;0,700;1,400&family=Montserrat:ital,wght@0,200;0,400;0,500;1,400&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="{% static 'Styles.css' %}" />

    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-KK94CHFLLe+nY2dmCWGMq91rCGa5gtU4mk92HdvYe+M/SXH301p5ILy+dN9+nJOZ"
      crossorigin="anonymous"
    />
    <!-- Include the Select2 CSS -->
    <link
      href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.13/css/select2.min.css"
      rel="stylesheet"
    />

    <!-- Include jQuery (required by Select2) -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>

    <!-- Include the Select2 JS -->
  </head>
  <body class="body-section">
    <div>
      <h3 class="main-title">Travel Form</h3>
      <div class="wrapper">
        <form class="travel-form-main" method="POST">
          {% csrf_token %}
          <h1 class="form-title">Resgistration</h1>

          <label for="name">Name:</label>
          <input type="text" id="name" name="name" required />
          <label for="email">Email address:</label>
          <input type="email" id="email" name="email" required />
          <div class="select-div">
            <label>Destination?</label>
            <select id="destination" name="destination">
              <option value="India">India</option>
              <option value="Africa">Africa</option>
              <option value="Europe">Europe</option>
            </select>
          </div>
          <label for="travelers">No. of travellers:</label>
          <input type="number" id="travelers" name="travelers" required />
          <label for="budget">Budget Per Person:</label>
          <input type="number" id="budget" name="budget" step="0.01" required />
          <label for="currency">Currency:</label>
          <input
            type="text"
            id="currency"
            name="currency"
            value="USD $"
            readonly
            style="
              font-family: Bona Nova;
              font-size: 13px;
              font-weight: bold;
              padding-left: 15px;
            "
          />
          <input type="submit" value="Submit" class="submit-btn" />
        </form>
      </div>
    </div>
  </body>
  <script>
    $(document).ready(function () {
      $("#destination").select2();
    });
  </script>
</html>
